header{
    height: 100vh;
    background-size: cover;
    background-image: url("back2.jpg");
}
main{
    height: 100vh;
    background-size: cover;
    background-image: url("back2.jpg");
}
img{
    height: 200px;
    float: left;
    border-radius: 50%;
    margin-top: 70px;
    margin-left: 100px;
    border-style: solid;
}

#head{
    display: inline-block;
    text-align: center;
    margin-top: 80px;
    margin-left: 120px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#des{
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 50px;
    font-size: 25px;
}

main{
    height: 100vh;
    background-size: cover;
    background-image: url("back2.jpg");
}

#menu{
    text-align: center;
    font-size: 50px;
}

#menu1{
    display: block;
    margin-left: 50px;
    margin-right: 1100px;
    margin-top: 290px;
    font-size: 20px;
}

#im1{
    float: left;
    margin-top: 30px;
    border-radius: 100px;
    width: 200px;
}

#mp1{
    text-align: center;
}

#veg{
    font-size: 30px;
    margin-left:100px;
}

#second{
    display: block;
    height: 400px;
    width: 300px;
    margin-right: 600px;
    margin-left: 450px;
    margin-top: -450px;
}
#im2{
    margin-top: -40px;
}

#menu2{
    font-size: 20px;
    display: block;
    margin-top: 150px;
}

#mp2{
    text-align: center;
}
#im3{
    margin-top: -40px;
}
#third{
    display: block;
    height: 500px;
    margin-left: 900px;
    margin-right: 600px;
    margin-top: -450px;
    width: 300px;
}

#mp3{
    text-align: center;
}
#menu3{
    font-size: 20px;
    display: block;
    margin-top: 50px;
}

#four{
    display: block;
    height: 400px;
    margin-left: 50px;
    margin-top: -80px;
    margin-right: 600px;
    width: 300px;
}

#im4{
    width:200px ;
    margin-left: 40px;
}
#mp4{
    text-align: center;
}
#menu4{
    font-size: 20px;
    display: block;
    margin-top: 50px;
}
#five{
    display: block;
    height: 400px;
    margin-left: 450px;
    margin-top: -450px;
    margin-right: 600px;
    width: 300px;
}
#im5{
    width:200px ;
    margin-left: 40px;
}
#mp5{
    text-align: center;
}
#menu5{
    font-size: 20px;
    display: block;
    margin-top: 50px;
}
#six{
    display: block;
    height: 400px;
    margin-left: 900px;
    margin-right: 600px;
    margin-top: -450px;
    width: 300px;
}
#im6{
    width:200px ;
    margin-left: 40px;
}
#mp6{
    text-align: center;
}
#menu6{
    font-size: 20px;
    display: block;
    margin-top: 50px;
}
#n1{
    display: block;
    height: 350px;
    width: 300px;
    margin-left: 30px;
    margin-top: -10px;
}
#nonveg{
    font-size: 30px;
    margin-top: 180px;
    margin-left:-600px;
    display: inline-block;
}
#im7{
    width:200px ;
    margin-left: 40px;
    margin-top: -1px;
}
#mp7{
    text-align: center;
}
#menu7{
    font-size: 20px;
    display: block;
    margin-top: 50px;
    margin-left: 20px;
}
#eight{
    display: block;
    height: 500px;
    width: 400px;
    margin-right: 600px;
    margin-left: 450px;
    margin-top: -700px;
    
}

#menu8{
    font-size: 20px;
    display: block;
    margin-top: 50px;
    margin-top: 350px;
}
#im8{
    margin-top: -20px;
}
#mp8{
    text-align: center;
}
#nine{
    display: block;
    height: 400px;
    margin-left: 900px;
    margin-right: 600px;
    margin-top: -535px;
    width: 300px;
}
#im9{
    margin-top: -20px;
}
#menu9{
    font-size: 20px;
    display: block;
    margin-top: 50px;
}
#ten{
    display: block;
    height: 400px;
    margin-left: 50px;
    margin-top: -100px;
    margin-right: 600px;
    width: 300px;  
}
#im10{
    margin-left: -2px;
}
#menu10{
    font-size: 20px;
    display: block;
    margin-top: 50px;
}
#mp10{
    text-align: center;
} 
#ele{
    display: block;
    height: 500px;
    width: 300px;
    margin-right: 600px;
    margin-left: 450px;
    margin-top: -700px;
}
#menu11{
    font-size: 20px;
    display: block;
    margin-top: 10px;
    margin-top: 280px;
    margin-left: 2px;
    padding-top: -3px;
}
#im11{
    margin-left: 50px;
   
}
#mp11{
    text-align: center;
}
#twe{
    display: block;
    height: 500px;
    margin-left: 940px;
    margin-right: 600px;
    margin-top: -770px;
    width: 300px; 
}
#menu12{
    font-size: 20px;
    display: block;
    margin-top: 10px;
    margin-top: 280px;
    margin-left: 2px;
    padding-top: -3px;
}
#im12{
    margin-left: -2px;
}
#shn{
    border-style: solid;
    height: 40px;
}
#sn{
   font-size: 40px;
   width: 100vw;         
   height: 50px; 
}
#seclin{
    display: inline-block;
    width: 100vw;
    margin-top: -100px;
}
button:hover{
     color: white;
     background-color: black;
     border-radius: 20px;
}

#detb{
    background-image: url(back2.jpg);
    background-size: cover;
}
#form{
    border-style: solid;
    height: 400px;
    width: 300px;
    margin-left: 530px;
    margin-top: 200px;
    padding-top: 40px;
}
#name{
    margin-left: 80px;
    height: 20px;
}
#number{
    height: 20px;
}
textarea{
    margin-left: 100px;
    margin-top: -200px;
}
#dets{
    width: 300px;
    height: 30px;
    border-radius: 20px;
}
form{
    padding-left: 3px;
}

#abc{
    text-align: center;
    position:fixed;
    margin-top: -40px;
    margin-left: 430px;
}
#resh{
    width: fit-content;
    margin-left: 400px;
    margin-top: 300px;
}
#lasb{
    background-image: url(back2.jpg);
}